.Navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
}


.Title {
    flex: 2;
    background-color: #FDFDFD;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 2% 2% 2% 0%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.Title h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    color: #333;
}


.Title h2 {
    font-size: 2rem;
    font-weight: 470;
    margin: 0;
    color: #333;

}



.Awards {
    background-color: #FDFDFD;
    padding: 1%;
    flex: 1;
    display: flex;
    max-height: 90px;
    object-fit: contain;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.sdg-logo {
    width: 100%;
    max-width: 100px;
    padding: 1%;
    aspect-ratio: 1;
    box-shadow: none;

}

.goal1,
.goal3,
.goal10,
.goal14,
.goal15 {
    width: 95%;
    max-width: 100px;
    aspect-ratio: 1;
    transition: height 0.3s ease-in-out, width 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: none;
}


.goal1:hover {
    width: 100%;
    max-width: 110px;
    aspect-ratio: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}


.goal3:hover {
    width: 100%;
    max-width: 110px;
    aspect-ratio: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}


.goal10:hover {
    width: 100%;
    max-width: 110px;
    aspect-ratio: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.goal14:hover {
    width: 100%;
    max-width: 110px;
    aspect-ratio: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.goal15:hover {
    width: 100%;
    max-width: 110px;
    aspect-ratio: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}


@media only screen and (max-width: 600px) {

    .Navbar {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        width: 100%;
    }

    .Title-col {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
    }

    .Title {
        background-color: #FDFDFD;
        margin: auto;
        border-radius: 10px;
        padding: 1%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .Title h1 {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
        color: #333;
    }


    .Title h2 {
        font-size: 1rem;
        font-weight: 470;
        margin: 0;
        color: #333;

    }

    .Awards {
        background-color: #FDFDFD;
        margin-bottom: 1%;
        padding: 1%;
        flex: 1;
        display: flex;
        max-height: 90px;
        object-fit: contain;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
}

@media only screen and (min-width: 600px) and (max-width: 920px) {

    .Navbar {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        width: 100%;
    }

    .Title-col {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
    }

    .Title {
        background-color: #FDFDFD;
        margin: auto;
        border-radius: 10px;
        padding: 1%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }


    .Awards {
        background-color: #FDFDFD;
        margin-bottom: 1%;
        padding: 1%;
        flex: 1;
        display: flex;
        max-height: 110px;
        object-fit: contain;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
}